body {

margin: 0;
font-family: Roboto;
color:  black;
font-size:  24px;
background-color: #EEEEEE;
font-style: normal;
}

ul, li {
	display: block;
}

h1,h2,h3,h4,h5,h6{
	margin:  0;
	padding: 0;
}



.header {
	padding: 0 ;
	height: 80px;
	background-color: #007765;
}



.introimg {
	height: 403px;

	background-image: url('../img/top.png');
}

.introimg p{
	color:  white;
	display: flex;
	justify-content: center;
	padding-top: 160px;
	font-size: 72px;
	margin: 0;
}

.header .header-content {
	display: flex;
	width : 65%;
	margin: 0 auto;
	align-items: center;

}

.header-content-logo {
	display: flex;
	/*margin-top: 20px;*/
}

.menu{
/*	font-family: Roboto;
	display: flex;
	font-size:  24px;
	 text-decoration: none;
	 color: white;
	 justify-content: space-between;
	 font-size: 24px;
	 font-style: normal;
	 margin-right: 8px;
	 margin-top: 20px;*/
display: flex;
margin-left: auto;
justify-content: space-between;
/*	 text-decoration: none;
	 font-family: Roboto;
	 font-size:  24px;
	 margin-top: 20px;
	 /*align-content:  flex-end;*/
	
}

.menu li a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	margin-right: 8px;
}

.about{
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.about h1{
	color: #007765;
	text-align: center;
	margin-top: 48px;
	font-size: 64px;
}

.text-the-problem{
	/*width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	line-height: 37px;*/
		background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.image-text{
	height: 483px;
	background-image: url('../img/center2.png');
	text-align: center;
}
.image-text .info {
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;
	line-height: 56px;
	color: white;
	padding-top: 128px;
    text-align: center;
}

.main-content {
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.main-content h1 {
		color: #007765;
		text-align: center;
		margin-top: 48px;
		font-size: 64px;
		margin-bottom: 16px;
}

.main-content-info img {
	float: left;
	margin-right: 48px;
}

.main-content-info {
			background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.main-content-info .text-content {
font-family: italic;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
width: 75%;
}

.main-content-info .text-content-second {
	font-family: italic;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	width: 85%;
} 