body {

margin: 0;
font-family: Roboto;
color:  black;
font-size:  24px;
background-color: #EEEEEE;
font-style: normal;
}

ul, li {
	display: block;
}

h1,h2,h3,h4,h5,h6{
	margin:  0;
	padding: 0;
}


/*Заголовки h1 одинаковы друг для друга*/
h1 {
		color: #007765;
		text-align: center;
		margin-top: 48px;
		font-size: 64px;
		margin-bottom: 16px;
}


.header {
	padding: 0 ;
	height: 80px;
	background-color: #007765;
	position: sticky;
    top: 0;
}



.introimg {
	height: 403px;

	background-image: url('../img/top.png');
}

.introimg p{
	color:  white;
	display: flex;
	justify-content: center;
	padding-top: 160px;
	font-size: 72px;
	margin: 0;
}

.header .header-content {
	display: flex;
	width : 65%;
	margin: 0 auto;
	align-items: center;

}

.header-content-logo {
	display: flex;
}

.menu{
	display: flex;
	margin-left: auto;
	justify-content: space-between;	
}

.menu li a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	margin-right: 8px;
}

.about{
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.text-the-problem{
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.image-text{
	height: 483px;
	background-image: url('../img/center2.png');
	text-align: center;
}
.image-text .info {
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 48px;
	line-height: 56px;
	color: white;
	padding-top: 128px;
    text-align: center;
}

.main-content {
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}



.main-content-info img {
	float: left;
	margin-right: 48px;
}

.main-content-info {
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.main-content-info .text-content {
font-family: italic;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
width: 75%;
}

.main-content-info .text-content-second {
	font-family: italic;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	width: 85%;
} 

.content-team-img {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	width: 168px;
	height: 168px;
}

.team {
	background-color: #EEEEEE;
  /*  padding-top: 58px;
    padding-bottom: 112px;*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.main-container {
    /*max-width: 1219px;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

.team-cards {
    padding-top: 58px;
}

.figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

.cards-img {
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
}

.cards-photo {
    width: 168px;
    height: 168px;
}

.cards-img {
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 55px;
}

.name-card {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

footer {
	background-color: #333333;
	height: 176px;

}

footer p {
	color:  white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	width: 25%;
	font-size: 18px;
	line-height: 21px;
	font-family: Roboto;
}